{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/add-recipe-styles.css' %}">
  <title>Add a Recipe</title>
</head>
<body>
  {% block content %}
  <div class="container">
    <h2>Add a New Recipe</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <div>
        <button type="submit" class="btn btn-primary">Add Recipe</button>
        <button type="button" id="cancelBtn" class="btn btn-danger">Cancel</button>
      </div>
      
    </form>
  </div>
{% endblock %}
<script>
  document.getElementById('cancelBtn').addEventListener('click', function() {
      // Ask for confirmation before canceling
      const confirmCancel = confirm("Are you sure you want to cancel? All unsaved data will be lost.");
      if (confirmCancel) {
          // Redirect to the /list page if confirmed
          window.location.href = '/list';
      }
  });
</script>
</body>
</html>