<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Details</title>
</head>
<body>
<h1>{{object.name}}</h1>

<h3>{{object.cooking_time}} minutes</h3>

<h3>Level: {{object.difficulty}}</h3>

<img src="{{object.pic.url}}" width="200" height="300" />
<h3>Recipe's description:</h3>
{{object.description}}

<h3>Ingredients list:</h3>
{{object.ingredients}}

<h3>Preparation Method:</h3>
{{object.preparation_method}}
</body>
</html>