{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Details</title>
  <link rel="stylesheet" href="{% static 'css/detail-styles.css' %}">
</head>
<body>
  <a href ="{%url 'logout' %}"> Logout </a>

  <div class="recipe-details-container">
    <h1 class="recipe-title">{{ object.name }}</h1>

    <h3 class="section-title">Recipe's Description</h3>
    <p class="recipe-description">{{ object.description }}</p>
    
    <img class="recipe-image" src="{{ object.pic.url }}" alt="{{ object.name }} image">

    <p class="recipe-subtitle">{{ object.cooking_time }} minutes | Level: {{ object.difficulty }}</p>

    

    <h3 class="section-title">Ingredients List</h3>
    <p class="recipe-ingredients">{{ object.ingredients }}</p>

    <h3 class="section-title">Preparation Method</h3>
    <p class="recipe-preparation">{{ object.preparation_method }}</p>
    
  </div>

  <a class="back-button" href="{% url 'recipes:list' %}">Back to Recipe List</a>

</body>
</html>