{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes - List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main-styles.css' %}">
</head>

<body>


  <form method="get">
    {{ form.as_p }}
    <button type="submit">Search</button>
  </form>

  <div>
    {% if recipes_df %}
    <h3>Recipe Search Results:</h3>
    <div>{{ recipes_df|safe }}</div>
    {% endif %}

    {% if chart %}
    <img src="data:image/png;base64,{{ chart }}" alt="Chart">
    {% endif %}
  </div>


  <h1>RECIPES</h1>


  <div class="recipes-container">
    {% for object in object_list %}
    <div class="recipe-item">
      <a href="{{ object.get_absolute_url }}">
        <img src="{{ object.pic.url }}" alt="{{ object.name }}" class="recipe-img">
        <p>{{ object.name }}</p>
      </a>
    </div>
    {% endfor %}
  </div>


  <a href="{%url 'logout' %}" class="btn"> Logout </a>

</body>

</html>