{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes App</title>
  <link rel="stylesheet" href="{% static 'css/home-styles.css' %}">
</head>
<body>
    <h1 style="text-align:center; font-family: Verdana, Geneva, Tahoma, sans-serif;">RECIPES APP</h1>

    <div class="image-container">
      <img src="{% static 'recipes/images/asnim-ansari-SqYmTDQYMjo-unsplash.jpg' %}" alt="home" class="home-image">
    </div>
  
  <div class="button-container">
    <a href="{% url 'recipes:list' %}" class="btn">Check Out All Recipes</a>
  </div>
  
</body>
</html>